$tesora-orange: #f18530;
$tesora-light-orange: #f1b317;
$tesora-light-blue: #96b3c6;
$tesora-dark-blue: #1377a8;
$tesora-lightest-gray: #f0f0f0;
$tesora-lighter-gray: #ebebeb;
$tesora-light-gray: #e0e0e0;
$tesora-gray: #b5b5b5;
$tesora-dark-gray: #a1a1a1;
$tesora-darker-gray: #6c6c6c;
$tesora-white: #efefef;
$tesora-black: #222222;

$padding-medium-vertical:     8px !default;
$padding-medium-horizontal:   14px !default;

$text-color: $tesora-darker-gray;
$link-color: $tesora-dark-blue;

$sidebar-active-color: $tesora-orange;
